main{
	padding: 30px;
	font-size: 0px;
}

.box-parent{
	margin-top:90px;
	margin: auto;
	width: 800px;
}

.centered{
	text-align: center;
}

.box{
	border: 1px solid black;
	display: inline-block;
}

.layer1{
	width: 50%;
	height: 200px;
}

.layer2{
	width: 33.33%;
	height: 300px;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.grey {
  background-color: grey;
}

.black {
  background-color: black;
}

.orange {
  background-color: orange;
}