main{
	font-size: 0px;
}

.centered{
	text-align: center;
}

.outer{
	width: 800px;
	margin-left: : auto;
	margin-right: auto;
}

.inner1{
	width: 50%;
	height: 200px;
}

.inner2{
	width: 33.33%;
	height: 300px;
}

.box{
	display: inline-block;
	border: 1px solid black;
}

.black{
	background-color: black;
}
.blue{
	background-color: blue;
}
.green{
	background-color: green;
}
.gray{
	background-color: gray;
}
.orange{
	background-color: orange;
}